{% include header.html %}

<section class="header6 cid-rzejneMwGR mbr-fullscreen" id="header6-1">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    {{ page.title }}</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-2">{{page.subtitle}}<br></p>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="index.html#features13-5">LEARN MORE</a></div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="features13 cid-rzenCc6mvU" id="features13-5">




    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            Increase your health and fitness through Yoga</h2>

        <div class="media-container-row">
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img src="assets/images/dsc-5966-320x214.jpeg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box p-5">
                        <h4 class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            {{ page.col1head }}</h4>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7">
                        {{ page.col1content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img src="assets/images/background-balance-beach-289586-small-350x213.jpg" alt="" title="clear your mind">
                    </div>
                    <div class="card-box p-5">
                        <h4 class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            Mind</h4>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7">
                            Create clarity and calmness of mind, enhance your breathing and concentration</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 align-center col-lg-4">
                <div class="card-wrap">
                    <div class="card-img">
                        <img src="assets/images/wellbeing-451x292.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box p-5">
                        <h4 class="card-title py-2 mbr-fonts-style align-center mbr-white display-5">
                            Wellbeing</h4>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7">
                            Strengthens your immune system, create physical &amp; emotional wellbeing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials1 cid-rBR71CeESl" id="testimonials1-14">




    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    What our class friends say</h2>

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="media-container-row">
            <div class="mbr-testimonial  align-center col-12 col-md-6">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <a href="testimonial-rebecca.html"><img src="assets/images/rebecca-tanya-mead-head-214x216.jpg" alt="rebecca testimonial" title="rebecca testimonial"></a>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Niki’s taught me to really listen to my body, and how to improve lifetime injury patterns with her gentle and encouraging teaching.</p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">Rebecca Tany-Mead&nbsp;</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"><a href="testimonials.html">
                            more &gt;&gt;</a></small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial  align-center col-12 col-md-6">
                <div class="panel-item ">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <a href="testimonial-sophia.html"><img src="assets/images/sophia-192x194.jpg" alt="sophia's testimonial" title="sophia's testimonial"></a>
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                            I’m so grateful I started yoga with Niki. Looking back over the last 4 years I’m amazed at how differently my body is working now, yoga has been healing me.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                            Sophia</div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"><a href="page7.html">more &gt;&gt;</a></small>
                    </div>
                </div>
            </div>








        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rzeqCjrr11" id="content4-a">



    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2"><strong>
                    Classes commence in September 2019</strong></h2>

                <div class="mbr-section-btn align-center py-4"><a class="btn btn-primary display-4" href="index.html#contacts1-c">VENUES</a></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section contacts1 cid-rzertiDMbK" id="contacts1-c">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    Hove Dance Centre<br><br></h2>

            </div>
            <!--Left-->
            <div class="col-12 col-md-6">
                <div class="left-block wrapper">
                    <div class="b b-adress">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            Address:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-5">
                            North St, Portslade, Brighton BN41 1DH
                        </p>
                    </div>
                    <div class="b b-phone">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            Phone:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-5">
                            07834070448
                        </p>
                    </div>
                    <div class="b b-mail">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            E-mail:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            yoga@nicolaharman.com
                        </p>
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJswjguZaadUgRTRUR6OkyXUM" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section contacts1 cid-rzeqV54UR4" id="contacts1-b">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style display-1">Shoreham Community Centre<br><br></h2>

            </div>
            <!--Left-->
            <div class="col-12 col-md-6">
                <div class="left-block wrapper">
                    <div class="b b-adress">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            Address:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-5">
                            2 Pond Rd, Shoreham-by-Sea BN43 5WU
                        </p>
                    </div>
                    <div class="b b-phone">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            Phone:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-5">07834070448</p>
                    </div>
                    <div class="b b-mail">
                        <h5 class="align-left mbr-fonts-style m-0 display-5">
                            E-mail:
                        </h5>
                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            yoga@nicolaharman.com</p>
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEIpgj38KyLFELm2bK9Y7krBkz1K-cMq8&amp;q=place_id:ChIJIzHRWB2adUgRpP-JYZ0hEjg" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}